*{
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

section{
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
section header {
 height: 180px;
 background-color: turquoise;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 border-radius: 10px;
 margin-top: 5rem;
}

header button{
margin-top: 1rem;
background-color: #fff;
border: none;
outline: none;
padding: 0.4rem 2.5rem;
}
header input {
  height: 45px;
  font-size: 25px;
}


.todos {
  display: flex;
  margin-top: 2.5rem;
  justify-content: center;
}

.todos ul{
  width: 100%;
}

.todos ul li{
  list-style: none;
  background-color: tomato;
  margin: 0 0 1rem 0;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}
.todos button{
  border: none;
  outline: none;
  background-color: transparent;
}
.finished{
  text-decoration: line-through;
}
.clear-btn{
  margin-top: 10px;
  outline: none;
  border: none;
  background-color: #74f9ff;
  padding: 5px 15px;
  border-radius: 8px;
}
.all-clear{
  margin-top: 10px;
  outline: none;
  border: none;
  background-color: #74f9ff;
  padding: 5px 15px;
  border-radius: 8px;
}
.right{
  display: flex;
  justify-content: flex-end;
}
.center{
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  section header {
    margin-top: 2rem;
    height: 150px;
  }
header input {
 width: 270px;
}
.todos{
  margin-top: 1rem;
}
}
